@import "style.css";

.animalTopic{
    color: blueviolet;
    font-weight: bold;
}

.worldTopic{
    color: orangered;
    font-weight: bold;
}

.date{
    font-size: .9em;
    color: grey;
}

.container{
	display:grid;
	grid-template-columns: 80vw;
	grid-template-rows: 10vh auto auto 10vh;
	grid-template-areas: 
	"hd"
	"sd"
	"main"
	"ft";
	padding: 0px 10vw;
}
	
.header{
	grid-area:hd;
}
.footer{
	grid-area:ft;
}
.content{
	grid-area:main;
}
.card{
    padding: 1vh 1vw;
    border: 3px solid rgba(192, 192, 192, 0.5);
	border-radius: 25px;
    height: 215px;
	margin: 1vh 0px;
	position: relative;
}

@media screen and (min-width: 600px) {
	.container{
		grid-template-columns: 20vw 70vw;
		grid-template-rows: 10vh auto 10vh;
		grid-template-areas: 
		"hd hd"
		"sd main"
		"ft ft";
		
		padding: 0px 5vw;
	}
	.top-fixed
	{
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 10vh;
	}
}
@media screen and (min-width: 900px) {
	
	.container{
		grid-template-columns: 5vw 15vw 65vw 5vw;
		grid-template-rows: 10vh auto 10vh;
		grid-template-areas: 
		"icon1 hd hd icon2"
		"sd sd main main"
		"ft ft ft ft";
	}
	.content{
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
	}
	.card{
		width: calc(33vw - 26px);
		margin: 10px;
	}
}