@import "style.css";
.container{
	display:grid;
	grid-template-columns: 80vw;
	grid-template-rows: 10vh auto auto 10vh;
	grid-template-areas: 
	"hd"
	"main"
    "prev"
    "home"
    "next"
    "sd"
	"ft";
	padding: 0px 10vw;
}
.content{
    grid-area:main;
    width: 70vw;
}
.header{
	grid-area:hd;
}
#prev{
    grid-area:prev;
    margin: 2vh 0px;
}
#next{
    grid-area:next;
    margin: 2vh 0px;
}
#home{
    grid-area:home;
    margin: 2vh 0px;
}
.footer{
	grid-area:ft;
}
h2{
    text-decoration: underline;
}
table{
    border-collapse: collapse;
    border: 2px solid lightgrey;
}
  
 th, td{
    border: 2px solid lightgrey;
    padding: 15px;
    text-align: left;
}
.share{
	width: calc(40vw/3);
	height: calc(40vw/3);
	margin: 0px 5vw;
}
.shareRow{
    margin: 4vh 0px;
}
.logo1,.logo2{
	display: none;
}
.top-line{
    padding-top: 2vh;
    border-top: 2px solid lightgrey;
}
.nav-button{
    width: 50px;
}
@media screen and (min-width: 900px) {
    .container{
        display:grid;
        grid-template-columns: 5vw 15vw 65vw 5vw;
        grid-template-rows: 10vh auto auto 10vh;
        grid-template-areas: 
        "icon1 hd hd icon2"
        "sd sd main main"
        "prev home home next"
        "ft ft ft ft";
        padding: 0px 5vw;
    }
    .top-fixed{
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 11vh;
    }
	.logo1{
        display: initial;
        grid-area: icon1;
    }
    .logo2{
        display: initial;
        grid-area: icon2;
    }
	.share{
		width: calc(20vw/3 - 10px - 20px/3);
		height: calc(20vw/3 - 10px - 20px/3);
		margin: 0px 5px;
	}
	.bot-fixed{
		position: -webkit-sticky; /* Safari */
		position: sticky;
		top: 75vh;
    }
    .top-line{
        display: none;
    }
}